@font-face {
    font-family: DINNextLTPro;
    src: url(assets/fonts/DINNextLTProUltraLight/DINNextLTPro-UltraLight.eot);
    src: url(assets/fonts/DINNextLTProUltraLight/DINNextLTPro-UltraLight.eot?#iefix) format("embedded-opentype"),url(assets/fonts/DINNextLTProUltraLight/DINNextLTPro-UltraLight.woff) format("woff"),url(assets/fonts/DINNextLTProUltraLight/DINNextLTPro-UltraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: DINNextLTPro;
    src: url(assets/fonts/DINNextLTProLight/DINNextLTPro-Light.eot);
    src: url(assets/fonts/DINNextLTProLight/DINNextLTPro-Light.eot?#iefix) format("embedded-opentype"),url(assets/fonts/DINNextLTProLight/DINNextLTPro-Light.woff) format("woff"),url(assets/fonts/DINNextLTProLight/DINNextLTPro-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: DINNextLTPro;
    src: url(assets/fonts/DINNextLTProRegular/DINNextLTPro-Regular.eot);
    src: url(assets/fonts/DINNextLTProRegular/DINNextLTPro-Regular.eot?#iefix) format("embedded-opentype"),url(assets/fonts/DINNextLTProRegular/DINNextLTPro-Regular.woff) format("woff"),url(assets/fonts/DINNextLTProRegular/DINNextLTPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DINNextLTPro;
    src: url(assets/fonts/DINNextLTProMedium/DINNextLTPro-Medium.eot);
    src: url(assets/fonts/DINNextLTProMedium/DINNextLTPro-Medium.eot?#iefix) format("embedded-opentype"),url(assets/fonts/DINNextLTProMedium/DINNextLTPro-Medium.woff) format("woff"),url(assets/fonts/DINNextLTProMedium/DINNextLTPro-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,html {
    font-family: DINNextLTPro,sans-serif;
    font-size: 16px;
    overflow: hidden;
    overflow-y: hidden;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

#stage,body,html {
    height: 100%;
    position: fixed;
    width: 100%
}

#stage {
    overflow: hidden
}

a {
    color: inherit;
    text-decoration: inherit
}

body.dark-mode {
    background-color: #0d0d0d
}

body.light-mode {
    background-color: #fafafa
}

.dark-mode section.splash {
    background-color: #0d0d0d
}

section.splash .experiment-container {
    height: 100%;
    position: relative;
    width: 100%
}

section.splash .experiment-container canvas {
    position: absolute
}

section.splash .experiment-container .symbol-container {
    height: 100%;
    position: absolute;
    width: 100%
}

section.splash .experiment-container .symbol-container img {
    display: block;
    position: absolute
}

section.splash .some-container {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: .3em;
    position: absolute;
    right: 40px;
    top: 50%;
    -webkit-transform: translate(50%,-50%) rotate(90deg);
    transform: translate(50%,-50%) rotate(90deg)
}

@media only screen and (max-width: 499px) {
    section.splash .some-container {
        right:30px
    }
}

section.splash .some-container a {
    overflow: hidden
}

@media only screen and (max-width: 499px) {
    section.splash .some-container a {
        padding:30px 0
    }
}

section.splash .some-container a span {
    display: inline-block
}

section.splash footer {
    bottom: 0;
    height: 50px;
    left: 0;
    padding: 0 20px 20px 40px;
    position: fixed;
    width: 100%
}

@media only screen and (max-width: 499px) {
    section.splash footer {
        padding:0 10px 10px 20px
    }
}

section.splash footer .content-wrapper {
    height: 100%;
    position: relative;
    width: 100%
}

section.splash footer .left {
    color: #626262;
    font-weight: 300;
    left: 0
}

section.splash footer .center,section.splash footer .left {
    bottom: 0;
    font-size: 10px;
    letter-spacing: .3em;
    pointer-events: none;
    position: absolute
}

section.splash footer .center {
    font-weight: 500;
    left: 50%;
    text-transform: uppercase;
    -webkit-transform: translate(50%);
    transform: translate(50%)
}

section.splash footer .right {
    bottom: -9px;
    position: absolute;
    right: 8px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media only screen and (max-width: 499px) {
    section.splash footer .right {
        bottom:-7px;
        right: 7px;
        padding: 0
    }
}

section.splash footer .right .sound-button {
    display: block;
    height: 22px;
    position: relative;
    width: 22px
}

section.splash footer .right .sound-button .text {
    font-size: 10px;
    font-weight: 500;
    left: -10px;
    letter-spacing: .3em;
    top: 50%;
    position: absolute;
    white-space: nowrap;
    visibility: hidden;
    text-transform: uppercase;
    -webkit-transform: translate(-100%,-50%);
    transform: translate(-100%,-50%)
}

section.splash footer .right .sound-ring {
    border: 2px solid;
    border-radius: 50%
}

section.splash footer .right .sound-ring,section.splash footer .right canvas {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%
}

section {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%
}

.dark-mode section.ui .logo .svg .logo-lines>path {
    fill: #fff
}

.dark-mode section.ui .logo .svg .draw-paths line,.dark-mode section.ui .logo .svg .draw-paths path,.dark-mode section.ui .logo .svg .draw-paths polyline {
    stroke: #fff
}

.dark-mode section.ui .logo .fake-line,.dark-mode section.ui a.close-button .stripe {
    background-color: #fff
}

.dark-mode section.ui .menu .menu-container a {
    color: hsla(0,0%,100%,.1)
}

@media only screen and (max-width: 499px) {
    .dark-mode section.ui .menu .menu-container a {
        color:#fff
    }
}

.dark-mode section.ui .menu .some-container {
    color: #fff
}

.dark-mode section.ui .menu .some-container .link-container {
    color: hsla(0,0%,100%,.5)
}

.dark-mode section.ui .menu .some-container .link-container span {
    color: #fff
}

.dark-mode section.ui .menu-button .stripe,body.landscape.is-on-splash .ui .menu-button .stripe {
    background-color: #fff
}

body.landscape.is-on-splash .ui .logo .svg .logo-lines>path {
    fill: #fff
}

body.landscape.is-on-splash .ui .logo .svg .draw-paths line,body.landscape.is-on-splash .ui .logo .svg .draw-paths path,body.landscape.is-on-splash .ui .logo .svg .draw-paths polyline {
    stroke: #fff
}

body.landscape.is-on-splash .ui .logo .fake-line {
    background-color: #fff
}

body.landscape.is-on-splash .splash .some-container {
    color: #fff
}

body.landscape.is-on-splash .splash .some-container .slash,body.landscape.is-on-splash .splash .some-container a {
    opacity: .5
}

body.landscape.is-on-splash .splash footer .left {
    color: #aaa
}

body.landscape.is-on-splash .splash footer .center,body.landscape.is-on-splash .splash footer .right {
    color: #fff
}

body.landscape.is-on-splash .splash footer .right .sound-ring {
    border-color: #fff
}

body.skull.is-on-splash .ui .menu-button .stripe {
    background-color: #000
}

body.skull.is-on-splash .ui .logo .svg .logo-lines>path {
    fill: #000
}

body.skull.is-on-splash .ui .logo .svg .draw-paths line,body.skull.is-on-splash .ui .logo .svg .draw-paths path,body.skull.is-on-splash .ui .logo .svg .draw-paths polyline {
    stroke: #000
}

body.skull.is-on-splash .ui .logo .fake-line {
    background-color: #000
}

body.skull.is-on-splash .splash .some-container {
    color: #000
}

body.skull.is-on-splash .splash .some-container .slash,body.skull.is-on-splash .splash .some-container a {
    opacity: .5
}

body.skull.is-on-splash .splash footer .left {
    color: #666
}

body.skull.is-on-splash .splash footer .center,body.skull.is-on-splash .splash footer .right {
    color: #000
}

section.ui {
    pointer-events: none;
    z-index: 999
}

section.ui>* {
    pointer-events: auto
}

section.ui .logo {
    width: 70px;
    height: auto;
    left: 40px;
    position: fixed;
    top: 40px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9999
}

@media only screen and (max-width: 499px) {
    section.ui .logo {
        left:20px;
        top: 20px;
        -webkit-transform: none;
        transform: none;
        width: 75px
    }
}

section.ui .logo .logo-container {
    position: relative;
    overflow: hidden
}

section.ui .logo .svg {
    display: block;
    height: auto;
    width: 70px
}

@media only screen and (max-width: 499px) {
    section.ui .logo .svg {
        width:75px
    }
}

section.ui .logo .svg .logo-lines>path {
    -webkit-transition: fill .4s;
    transition: fill .4s;
    will-change: fill
}

section.ui .logo .svg .draw-paths line,section.ui .logo .svg .draw-paths path,section.ui .logo .svg .draw-paths polyline {
    -webkit-transition: stroke .4s;
    transition: stroke .4s;
    will-change: stroke
}

section.ui .logo .fake-line {
    height: 100%;
    right: 100%;
    position: absolute;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    top: 0;
    width: 1px;
    will-change: background-color
}

section.ui a.close-button {
    border-radius: 50%;
    height: 40px;
    left: 50%;
    overflow: hidden;
    position: fixed;
    top: 40px;
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
    width: 40px
}

@media only screen and (max-width: 499px) {
    section.ui a.close-button {
        top:26px
    }
}

section.ui a.close-button .stripe {
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 20px
}

section.ui a.close-button .stripe:first-of-type {
    height: 2px;
    width: 50%
}

@media only screen and (max-width: 499px) {
    section.ui a.close-button .stripe:first-of-type {
        width:35%
    }
}

section.ui a.close-button .stripe:nth-of-type(2) {
    height: 50%;
    width: 2px
}

@media only screen and (max-width: 499px) {
    section.ui a.close-button .stripe:nth-of-type(2) {
        height:35%
    }
}

section.ui .menu-button {
    border-radius: 50%;
    height: 40px;
    overflow: hidden;
    padding: 0 10px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px;
    z-index: 9999
}

@media only screen and (max-width: 499px) {
    section.ui .menu-button {
        right:10px;
        top: 5px
    }
}

section.ui .menu-button .stripe {
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    width: 50%;
    will-change: background-color
}

section.ui .menu-button .stripe:first-of-type {
    left: 10px;
    top: 42%
}

section.ui .menu-button .stripe:nth-of-type(2) {
    left: 10px;
    top: 58%
}

section.ui aside.menu {
    display: none;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999
}

section.ui aside.menu .content-wrapper {
    height: 100%;
    position: relative;
    width: 100%
}

section.ui aside.menu .menu-container {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 3000px
}

section.ui aside.menu .menu-container .hackhack {
    display: inline-block;
    font-size: 180px;
    font-weight: 200;
    letter-spacing: -.05em
}

@media only screen and (max-width: 499px) {
    section.ui aside.menu .menu-container .hackhack {
        display:none
    }
}

section.ui aside.menu .menu-container a {
    display: inline-block;
    font-size: 180px;
    font-weight: 200;
    letter-spacing: -.05em;
    height: 100%;
    margin: 0 10vw;
    text-align: center
}

@media only screen and (max-width: 499px) {
    section.ui aside.menu .menu-container a {
        display:block;
        font-size: 60px;
        margin: 7vh 0
    }
}

section.ui aside.menu .some-container {
    bottom: 50px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    white-space: nowrap
}

@media only screen and (max-width: 499px) {
    section.ui aside.menu .some-container {
        bottom:10px
    }
}

section.ui aside.menu .some-container .label {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .3em;
    margin: 0 0 5px;
    opacity: .5;
    pointer-events: none;
    text-transform: uppercase
}

section.ui aside.menu .some-container .link-container {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .3em;
    padding: 1px 0 0;
    overflow: hidden;
    text-transform: uppercase
}

section.ui aside.menu .some-container .link-container a {
    opacity: .5
}

section.ui aside.menu .some-container .link-container a>span {
    display: inline-block
}

section.landscape-overlay {
    background-color: #0e0e0e;
    position: fixed;
    z-index: 9999
}

section.landscape-overlay canvas {
    left: 0;
    position: absolute;
    top: 0
}

section.landscape-overlay .logo {
    height: auto;
    margin: 0 auto 20px;
    width: 200px
}

section.landscape-overlay .logo .logo-container {
    overflow: hidden
}

section.landscape-overlay .logo .svg {
    display: block;
    height: auto;
    width: 200px
}

section.landscape-overlay .logo .svg path {
    fill: #fff
}

section.landscape-overlay .left {
    left: 0;
    -webkit-transform: translate(-20%);
    transform: translate(-20%)
}

section.landscape-overlay .left,section.landscape-overlay .right {
    display: block;
    bottom: 0;
    position: absolute;
    height: 96%;
    max-height: 400px;
    opacity: .6
}

section.landscape-overlay .right {
    right: 0;
    -webkit-transform: translate(20%);
    transform: translate(20%)
}

section.landscape-overlay .gradient-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: -webkit-linear-gradient(top,hsla(0,0%,5%,0),hsla(0,0%,5%,0) 90%,hsla(0,0%,5%,.8));
    background: linear-gradient(180deg,hsla(0,0%,5%,0) 0,hsla(0,0%,5%,0) 90%,hsla(0,0%,5%,.8));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000e0e0e",endColorstr="#990e0e0e",GradientType=0)
}

section.landscape-overlay .vignette {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: -webkit-radial-gradient(center,ellipse cover,hsla(0,0%,5%,0) 0,hsla(0,0%,5%,0) 49%,hsla(0,0%,5%,.6) 100%);
    background: -webkit-radial-gradient(center ellipse,hsla(0,0%,5%,0) 0,hsla(0,0%,5%,0) 49%,hsla(0,0%,5%,.6) 100%);
    background: radial-gradient(ellipse at center,hsla(0,0%,5%,0) 0,hsla(0,0%,5%,0) 49%,hsla(0,0%,5%,.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000e0e0e",endColorstr="#990e0e0e",GradientType=1)
}

section.landscape-overlay .text-container {
    color: #fff;
    font-size: 9px;
    left: 0;
    letter-spacing: .3em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    z-index: 1
}

section.landscape-overlay .icon-container {
    bottom: 20px;
    height: auto;
    left: 50%;
    position: fixed;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 27px
}

section.landscape-overlay .icon-container img,section.landscape-overlay .icon-container svg {
    display: block;
    height: auto;
    opacity: .6;
    width: 100%
}

section.landscape-overlay .icon-container img .stroke-path,section.landscape-overlay .icon-container svg .stroke-path {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10
}

section.landscape-overlay .icon-container img polygon,section.landscape-overlay .icon-container svg polygon {
    fill: #fff
}

.dark-mode section.project .text-container,.dark-mode section.project .text-container .headline,.dark-mode section.project .text-container .highlight {
    color: #fff
}

.dark-mode section.project .text-container .client-box,.dark-mode section.project .text-container .info-container,.dark-mode section.project .text-container .story-box {
    color: #7e7e7e
}

.dark-mode section.project .media-container .headline {
    color: #000
}

.dark-mode section.project .video-container .overlay {
    background-color: rgba(0,0,0,.5)
}

.dark-mode section.project .site-button {
    color: #fff
}

.dark-mode section.project .next-button svg,.dark-mode section.project .prev-button svg {
    stroke: #fff
}

.dark-mode section.project .next-button .line .line-background,.dark-mode section.project .prev-button .line .line-background {
    background-color: #fff
}

.dark-mode section.project .back-button,.dark-mode section.project .next-button .project-title,.dark-mode section.project .prev-button .project-title {
    color: #fff
}

section.project .project-container {
    left: 50%;
    height: 100%;
    position: absolute;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 1120px
}

@media only screen and (max-width: 499px) {
    section.project .project-container {
        width:100%
    }
}

@media screen and (max-width: 1119px) {
    section.project .project-container {
        width:100%
    }
}

section.project ::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none
}

section.project .project-mask {
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 1120px
}

@media only screen and (max-width: 499px) {
    section.project .project-mask {
        width:100%
    }
}

@media screen and (max-width: 1119px) {
    section.project .project-mask {
        width:100vw
    }
}

section.project .random-container {
    position: absolute;
    width: 1120px
}

@media only screen and (max-width: 499px) {
    section.project .random-container {
        width:100vw
    }
}

@media screen and (max-width: 1119px) {
    section.project .random-container {
        width:100%
    }
}

section.project .content-container {
    width: 1120px;
    padding: 0 0 230px;
    position: relative
}

@media only screen and (max-width: 499px) {
    section.project .content-container {
        padding:0 20px 30px;
        width: 100vw
    }
}

@media screen and (max-width: 1119px) {
    section.project .content-container {
        padding:0 20px 230px;
        width: 100vw
    }
}

section.project .text-container {
    padding: 180px 0 150px
}

@media only screen and (max-width: 499px) {
    section.project .text-container {
        padding:100px 0 30px
    }
}

section.project .text-container h2 {
    font-size: 80px;
    font-weight: 200;
    letter-spacing: .01em;
    line-height: 70px;
    margin: 0 0 100px;
    width: 30vw
}

@media only screen and (max-width: 499px) {
    section.project .text-container h2 {
        font-size:40px;
        line-height: 40px;
        left: -3px;
        position: relative;
        margin: 0 0 30px
    }
}

section.project .text-container li,section.project .text-container ul {
    list-style: none
}

section.project .text-container .headline {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .3em;
    text-transform: uppercase
}

section.project .text-container .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row
}

@media only screen and (max-width: 499px) {
    section.project .text-container .flex-wrapper {
        display:block;
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    section.project .text-container .flex-wrapper {
        display:block;
        overflow: hidden;
        width: 100%
    }
}

section.project .text-container .client-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .1em;
    height: 100%;
    text-transform: uppercase;
    width: 200px
}

@media only screen and (max-width: 499px) {
    section.project .text-container .client-box {
        display:block;
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    section.project .text-container .client-box {
        display:block;
        float: left;
        width: 50%
    }
}

section.project .text-container .info-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .1em
}

@media only screen and (max-width: 499px) {
    section.project .text-container .info-container {
        display:block;
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    section.project .text-container .info-container {
        display:block;
        float: left;
        margin: 0 0 30px;
        width: 50%
    }
}

section.project .text-container .services-box {
    text-transform: uppercase;
    margin: 0 0 60px
}

@media only screen and (max-width: 499px) {
    section.project .text-container .partners-box,section.project .text-container .services-box {
        margin:15px 0 0
    }
}

section.project .text-container .story-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .1em;
    line-height: 20px;
    width: 50%
}

@media only screen and (max-width: 499px) {
    section.project .text-container .story-box {
        margin:15px 0 0;
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    section.project .text-container .story-box {
        margin:15px 0 0;
        width: 100%
    }
}

section.project .text-container .story-box .content {
    line-height: 35px
}

@media only screen and (max-width: 499px) {
    section.project .text-container .story-box .content {
        line-height:28px
    }
}

section.project .media-container .headline-container {
    opacity: 1;
    position: relative;
    width: 100%;
    z-index: 1
}

@media only screen and (max-width: 499px) {
    section.project .media-container .headline-container {
        margin:50px 0 0
    }
}

section.project .media-container .headline {
    font-size: 245px;
    font-weight: 200;
    left: 50%;
    letter-spacing: -.05em;
    position: absolute;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

@media only screen and (max-width: 499px) {
    section.project .media-container .headline {
        font-size:100px
    }
}

section.project .video-container {
    cursor: pointer;
    height: auto;
    margin: 0 0 210px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5
}

@media only screen and (max-width: 499px) {
    section.project .video-container {
        margin:0 0 30px
    }
}

@media screen and (max-width: 768px) {
    section.project .video-container {
        margin:0 0 150px
    }
}

section.project .video-container .mask {
    overflow: hidden;
    will-change: height
}

section.project .video-container .overlay {
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%
}

section.project .video-container .overlay .play-button {
    background-color: rgba(0,0,0,.4);
    border-radius: 50%;
    height: 84px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 84px
}

@media only screen and (max-width: 499px) {
    section.project .video-container .overlay .play-button {
        height:50px;
        width: 50px
    }
}

section.project .video-container .overlay .play-button svg {
    display: block;
    height: auto;
    fill: #fff;
    left: 52%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 12px
}

@media only screen and (max-width: 499px) {
    section.project .video-container .overlay .play-button svg {
        width:10px
    }
}

section.project .video-container video {
    display: block;
    cursor: pointer;
    height: auto;
    width: 100%
}

section.project .image-container {
    height: auto;
    margin: 0 0 80px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5
}

@media only screen and (max-width: 499px) {
    section.project .image-container {
        margin:0 0 30px
    }
}

@media screen and (max-width: 768px) {
    section.project .image-container {
        margin:0 0 30px
    }
}

section.project .image-container .mask {
    overflow: hidden;
    position: absolute;
    will-change: height
}

section.project .image-container img {
    height: auto;
    width: 100%
}

section.project .site-button {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .3em;
    overflow: hidden;
    position: fixed;
    right: 40px;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translate(50%,-50%) rotate(90deg);
    transform: translate(50%,-50%) rotate(90deg)
}

section.project .site-button .button-mask {
    opacity: .5
}

section.project .prev-button {
    left: 30px
}

@media only screen and (max-width: 499px) {
    section.project .prev-button {
        left:20px
    }
}

section.project .prev-button svg {
    margin: 0 20px 0 0
}

section.project .prev-button .thumb-container {
    position: absolute;
    right: 0
}

section.project .prev-button .thumb-mask {
    left: 6px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

section.project .prev-button .line {
    margin: 0 10px
}

@media only screen and (max-width: 499px) {
    section.project .prev-button .line {
        margin:0
    }
}

section.project .prev-button .line .line-background {
    right: 0
}

section.project .next-button {
    right: 30px
}

@media only screen and (max-width: 499px) {
    section.project .next-button {
        right:20px
    }
}

section.project .next-button svg {
    margin: 0 0 0 20px
}

section.project .next-button .thumb-mask {
    right: 6px;
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%)
}

section.project .next-button .line {
    margin: 0 10px
}

@media only screen and (max-width: 499px) {
    section.project .next-button .line {
        margin:0
    }
}

section.project .next-button .line .line-background {
    left: 0
}

section.project .next-button,section.project .prev-button {
    bottom: 30px;
    position: fixed
}

@media only screen and (max-width: 499px) {
    section.project .next-button,section.project .prev-button {
        bottom:20px
    }
}

section.project .next-button svg,section.project .prev-button svg {
    display: inline-block;
    height: auto;
    position: relative;
    width: 15px;
    top: 2px
}

section.project .next-button canvas,section.project .prev-button canvas {
    display: inline-block;
    height: 15px;
    position: relative;
    width: 15px;
    top: 2px
}

section.project .next-button .thumb-mask,section.project .prev-button .thumb-mask {
    width: 0;
    height: 120px;
    position: absolute;
    overflow: hidden;
    top: 50%
}

section.project .next-button .thumb,section.project .prev-button .thumb {
    opacity: .3;
    width: 200px;
    height: auto
}

section.project .next-button .line,section.project .prev-button .line {
    display: inline-block;
    height: 1px;
    overflow: hidden;
    position: relative;
    top: -5px;
    width: 0
}

section.project .next-button .line .line-background,section.project .prev-button .line .line-background {
    height: 100%;
    position: absolute;
    width: 0
}

section.project .next-button .project-title,section.project .prev-button .project-title {
    display: inline-block;
    font-size: 11px;
    letter-spacing: .3em;
    opacity: 0;
    visibility: hidden;
    position: relative;
    text-transform: uppercase;
    top: -2px
}

@media only screen and (max-width: 499px) {
    section.project .next-button .project-title,section.project .prev-button .project-title {
        top:-1px
    }
}

section.project .back-button {
    font-size: 11px;
    left: 50%;
    letter-spacing: .3em;
    overflow: hidden;
    margin: 0 0 -7px;
    position: fixed;
    text-transform: uppercase;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

@media only screen and (max-width: 499px) {
    section.project .back-button {
        bottom:20px
    }
}

section.project .back-button .mask {
    overflow: hidden;
    opacity: .5;
    padding: 2px 0
}

.dark-mode section.preloader {
    background-color: #0d0d0d
}

@media only screen and (max-width: 499px) {
    section.background {
        background-color:#0d0d0d
    }
}

.dark-mode section.about .background {
    color: #000
}

.dark-mode section.about .logo-container svg {
    fill: #fff
}

.dark-mode section.about .awards-container {
    color: #fff
}

.dark-mode section.about .awards-container svg,.dark-mode section.about .client-container svg {
    fill: #fff
}

.dark-mode section.about .scroll-indicator {
    background-color: hsla(0,0%,100%,.1)
}

.dark-mode section.about .part-indicator li,.dark-mode section.about .scroll-indicator .bar {
    background-color: #fff
}

.dark-mode section.about .text-container h2,.dark-mode section.about .text-container p {
    color: #fff
}

section.about {
    overflow: auto
}

section.about .part-container {
    display: table;
    height: 100vh;
    position: absolute;
    visibility: hidden;
    width: 100%
}

@media only screen and (max-width: 499px) {
    section.about .part-container {
        height:100%
    }
}

section.about .text-container {
    font-weight: 300;
    left: 50%;
    max-width: 635px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

@media only screen and (max-width: 499px) {
    section.about .text-container {
        opacity:1;
        padding: 0 20px;
        width: 100%
    }
}

section.about .text-container h2 {
    font-size: 35px;
    font-weight: 300;
    letter-spacing: .3em;
    margin: 0 0 35px;
    text-transform: uppercase
}

@media only screen and (max-width: 499px) {
    section.about .text-container h2 {
        font-size:17px;
        margin: 0 0 35px
    }
}

section.about .text-container p {
    font-size: 20px;
    line-height: 35px
}

@media only screen and (max-width: 499px) {
    section.about .text-container p {
        font-size:15px;
        line-height: 23px;
        opacity: .5
    }
}

section.about .background {
    font-size: 180px;
    font-weight: 200;
    left: 50%;
    letter-spacing: -.05em;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

@media only screen and (max-width: 499px) {
    section.about .background {
        font-size:120px
    }
}

section.about .part-indicator {
    bottom: 35px;
    position: fixed;
    right: 45px
}

@media only screen and (max-width: 499px) {
    section.about .part-indicator {
        bottom:25px;
        right: 25px
    }
}

section.about .part-indicator li {
    border-radius: 50%;
    display: block;
    height: 3px;
    margin-top: 7px;
    opacity: .2;
    width: 3px
}

section.about .logo-container .logo-minimal {
    display: block;
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 120px
}

section.about .logo-container .scroll-indicator {
    bottom: 70px;
    height: 160px;
    left: 50%;
    position: absolute;
    width: 1px
}

@media only screen and (max-width: 499px) {
    section.about .logo-container .scroll-indicator {
        height:80px;
        bottom: 62px
    }
}

section.about .logo-container .scroll-indicator .bar {
    height: 0;
    position: absolute;
    width: 100%
}

section.about .logo-container .scroll-indicator .text {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .3em;
    bottom: 0;
    left: 50%;
    color: #fff;
    margin: 0 0 0 2px;
    position: absolute;
    text-transform: uppercase;
    -webkit-transform: translate(-50%,40px);
    transform: translate(-50%,40px)
}

@media only screen and (max-width: 499px) {
    section.about .what-container {
        padding:0 10px
    }
}

section.about .awards-container .award-list {
    margin: 40px 0 0;
    text-align: center
}

@media only screen and (max-width: 499px) {
    section.about .awards-container .award-list {
        margin:30px 0 0
    }
}

section.about .awards-container .award-list li {
    display: inline-block;
    font-weight: 400;
    margin: 0
}

@media only screen and (max-width: 499px) {
    section.about .awards-container .award-list li {
        font-size:12px;
        opacity: .5
    }
}

section.about .awards-container .award-list li:nth-of-type(2) {
    margin: 0 70px
}

@media only screen and (max-width: 499px) {
    section.about .awards-container .award-list li:nth-of-type(2) {
        margin:0 50px
    }
}

section.about .awards-container .award-list li svg {
    display: block;
    height: 50px;
    margin: 0 0 30px;
    width: auto
}

@media only screen and (max-width: 499px) {
    section.about .awards-container .award-list li svg {
        height:30px;
        margin: 0 0 15px
    }
}

section.about .awards-container .award-list li svg.fwa-logo {
    width: 70px
}

@media only screen and (max-width: 499px) {
    section.about .awards-container .award-list li svg.fwa-logo {
        width:50px
    }
}

section.about .client-container .client-list {
    margin: 40px 0 0;
    width: 100%
}

@media only screen and (max-width: 499px) {
    section.about .client-container .client-list {
        margin:25px auto 0;
        width: 100%
    }
}

section.about .client-container .client-list td {
    height: 100px;
    position: relative;
    width: 30%
}

@media only screen and (max-width: 499px) {
    section.about .client-container .client-list td {
        height:70px;
        opacity: .5
    }
}

section.about .client-container .client-list td svg {
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

@media only screen and (max-width: 499px) {
    section.about .client-container .client-list td svg {
        -webkit-transform:translate(-50%,-50%) scale(.7);
        transform: translate(-50%,-50%) scale(.7)
    }
}

section.about .client-container .client-list td svg.disney-logo {
    height: auto;
    width: 80px
}

section.about .client-container .client-list td svg.bmw-logo {
    height: 45px;
    width: 45px
}

section.about .client-container .client-list td svg.dove-logo {
    height: auto;
    width: 60px
}

section.about .client-container .client-list td svg.dnb-logo {
    height: auto;
    width: 55px
}

section.about .client-container .client-list td svg.lionsgate-logo {
    height: auto;
    width: 110px
}

section.about .client-container .client-list td svg.dhl-logo {
    height: auto;
    width: 95px
}

section.about .client-container .client-list td svg.volvo-logo {
    height: auto;
    width: 90px
}

section.about .client-container .client-list td svg.mcd-logo {
    height: 45px;
    width: auto
}

section.about .client-container .client-list td svg.netcom-logo {
    height: auto;
    width: 95px
}

.dark-mode section.contact .background {
    color: #000
}

.dark-mode section.contact .text-container {
    color: #fff
}

section.contact {
    overflow: auto
}

section.contact .background {
    font-size: 180px;
    font-weight: 200;
    left: 50%;
    letter-spacing: -.05em;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

@media only screen and (max-width: 499px) {
    section.contact .background {
        font-size:120px
    }
}

section.contact .content-container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

section.contact .content-container .text-container {
    font-size: 13px;
    font-weight: 400;
    left: 50%;
    letter-spacing: .3em;
    line-height: 26px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    white-space: nowrap
}

section.contact .content-container .text-container>div {
    overflow: hidden
}

section.contact .content-container .text-container a {
    display: inline-block
}

section.contact .content-container .wave-fade {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.dark-mode section.work .navigation-container .number,.dark-mode section.work .navigation-container .total {
    color: #fff
}

.dark-mode section.work .navigation-container li {
    background-color: #fff
}

.dark-mode section.work .text-container .info-container .client,.dark-mode section.work .text-container .info-container .headline,.dark-mode section.work .text-container .link-container a {
    color: #fff
}

.dark-mode section.work .text-container .link-container a .dark-line,.dark-mode section.work .text-container .link-container a .line {
    background-color: #fff
}

section.work .navigation-container {
    left: 0;
    height: 75%;
    padding: 0 0 0 40px;
    position: fixed;
    top: 12.5%;
    width: 160px
}

@media only screen and (max-width: 499px) {
    section.work .navigation-container {
        height:100%;
        z-index: 99;
        padding: 0 0 0 20px;
        pointer-events: none;
        top: 0;
        width: 100%
    }

    section.work .navigation-container ul {
        display: none
    }
}

section.work .navigation-container .number-overlay {
    bottom: 50%;
    position: absolute;
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
}

@media only screen and (max-width: 499px) {
    section.work .navigation-container .number-overlay {
        bottom:auto;
        margin: -25px 0 0;
        top: 50%;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        width: 100%
    }
}

section.work .navigation-container .number-overlay .number {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 75px 0 0
}

@media only screen and (max-width: 499px) {
    section.work .navigation-container .number-overlay .number {
        margin:0
    }

    section.work .navigation-container .number-overlay .number:after {
        content: "/";
        display: inline-block;
        margin: 0 .3em;
        opacity: .5
    }
}

section.work .navigation-container .number-overlay .total {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 0 10px;
    opacity: .2
}

@media only screen and (max-width: 499px) {
    section.work .navigation-container .number-overlay .total {
        margin:0
    }
}

section.work .navigation-container li {
    display: block;
    height: 1px;
    list-style: none;
    position: absolute;
    width: 15px
}

section.work .text-container {
    height: 75%;
    pointer-events: none;
    position: fixed;
    left: 240px;
    top: 12.5%;
    width: 30%
}

@media only screen and (max-width: 1300px) {
    section.work .text-container {
        left:190px
    }
}

@media only screen and (max-width: 499px) {
    section.work .text-container {
        left:0;
        top: 0;
        height: 100%;
        width: 100%
    }
}

section.work .text-container .info-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media only screen and (max-width: 499px) {
    section.work .text-container .info-container {
        padding:0 20px;
        -webkit-transform: translateY(-2em);
        transform: translateY(-2em)
    }
}

section.work .text-container .info-container .headline {
    font-size: 80px;
    font-weight: 200;
    line-height: 70px;
    letter-spacing: .01em;
    left: -7px;
    position: relative
}

@media only screen and (max-width: 499px) {
    section.work .text-container .info-container .headline {
        font-size:40px;
        line-height: 40px;
        left: -3px;
        margin: 10px 0 5px
    }
}

section.work .text-container .info-container .client {
    font-size: 13px;
    font-weight: 300;
    opacity: .3;
    letter-spacing: .1em;
    text-transform: uppercase
}

@media only screen and (max-width: 499px) {
    section.work .text-container .info-container .client {
        font-size:12px
    }
}

section.work .text-container .link-container {
    bottom: 0;
    pointer-events: auto;
    position: absolute
}

@media only screen and (max-width: 499px) {
    section.work .text-container .link-container {
        bottom:20px;
        left: 20px
    }
}

section.work .text-container .link-container .link-mask {
    white-space: nowrap
}

section.work .text-container .link-container a {
    display: block;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .3em;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 0 0 10px;
    position: relative;
    text-transform: uppercase
}

section.work .text-container .link-container a .line {
    bottom: 0;
    height: 1px;
    left: 0;
    opacity: .3;
    position: absolute;
    width: 40px
}

section.work .text-container .link-container a .dark-line {
    bottom: 0;
    height: 1px;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 0
}

section.work .scroll-indicator-container {
    display: none
}

@media only screen and (max-width: 499px) {
    section.work .scroll-indicator-container {
        display:block;
        position: fixed;
        bottom: 20px;
        opacity: .5;
        right: 20px;
        -webkit-transform: translate(50%);
        transform: translate(50%)
    }
}

section.work .scroll-indicator-container .svg {
    display: block;
    height: 20px;
    fill: #fff;
    position: relative;
    width: auto
}

section.work .scroll-indicator-container .svg.down-arrow {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

section.work .scroll-indicator-container .down-mask {
    margin: 15px 0 0
}

section.work .scroll-indicator-container .down-mask,section.work .scroll-indicator-container .up-mask {
    overflow: hidden
}

section.work .preview-container {
    cursor: pointer;
    height: 75%;
    overflow: hidden;
    position: fixed;
    left: 30%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 70%
}

@media only screen and (max-width: 499px) {
    section.work .preview-container {
        height:100%;
        left: 0;
        top: 0;
        width: 100%;
        -webkit-transform: none;
        transform: none
    }
}

section.work .preview-container .mask {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: auto;
    visibility: hidden
}

@media only screen and (max-width: 499px) {
    section.work .preview-container .mask {
        width:100%
    }
}

section.work .preview-container video {
    display: block;
    height: 100%;
    position: relative;
    top: 0;
    width: auto
}

@media only screen and (max-width: 499px) {
    section.work .preview-container video {
        left:50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        display: none
    }
}

section.work .preview-container img {
    display: block;
    height: 100%;
    position: relative;
    top: 0;
    width: auto
}

@media only screen and (max-width: 499px) {
    section.work .preview-container img {
        height:102%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }
}
